<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width">
    <meta name="description" content="My website">
    <meta name="keywords" content="website">
    <meta name="author" content="Christian Rognstad">
    <title>My website | Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
    <h1>Welcome to my website</h1>
    <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About' , about_path %>
    <!--<%= link_to image_tag('picture_1.jpg'), 'https://www.pexels.com/photo/scenic-view-of-mountains-against-sky-during-sunset-488464/' %>
    -->
  <div>  <%= image_tag 'picture_1.jpg' %></div>
  </div>
  <nav>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Info</a></li>
    </ul>
  </nav>
  </div>
  </header>

  <section id="showcase">
    <div class="container">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </p>
    </div>

  </section>

<section id="info">
  <div class="container">
    <h1>Info</h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    Lorem ipsum dolor sit amet, consectetur adipiscing elit
    Lorem ipsum dolor sit amet, consectetur adipiscing elit

  </div>
</section>



  <footer>
    <p>Christians website, Copyright &copy; 2017</p>

  </footer>

  </body>
</html>
