<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width">
    <meta name="description" content="My website">
    <meta name="keywords" content="website">
    <meta name="author" content="Christian Rognstad">
    <title>My website | Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
    <div class="center jumbotron">
      <h1>Alpha Blog</h1>

    <%= link_to "sign up now", "#", class: "btn btn-primary btn-xlarge" %>
  </div>
    <!--<%= link_to image_tag('picture_1.jpg'), 'https://www.pexels.com/photo/scenic-view-of-mountains-against-sky-during-sunset-488464/' %>
    -->
  <!--<div>  <%= image_tag 'picture_1.jpg' %></div> -->
  </div>





  </body>
</html>
